@model ML.Emisor
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href=" https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<script src=" https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
<div class="text-center">
    <h2>Emisores</h2>
    <h5>Lista de Emisores</h5>
</div>
<hr />

<a href="@Url.Action("Form","Emisor")" class="btn btn-success">Agregar </a>
@if (Model.Emisores.Count > 0)
{
    <table class="table table-bordered">
        <thead>
            <!-- On rows -->
            <tr class="bg-warning">
                <th>Editar</th>
                <th>IdEmisor</th>
                <th>RFC</th>
                <th>FechaInicioOperacion</th>
                <th>Capital</th>
                <th>Eliminar</th>
                <!-- On cells (`td` or `th`) -->
            </tr>
        </thead>
        <tbody>
            @foreach (ML.Emisor emisor in Model.Emisores)
            {
                <tr>
                    <td><a class="btn btn-warning" href="@Url.Action("Form", "Emisor", new { IdEmisor = emisor.IdEmisor })"><i class="fa-solid fa-pencil fa-bounce" style="color: #332774;"></i></a></td>
                    <td>@emisor.IdEmisor</td>
                    <td>@emisor.RFC</td>
                    <td>@emisor.FechaInicioOperacion</td>
                    <td>@emisor.Capital</td>

                    <td><a class="btn btn-danger" href="@Url.Action("Delete", "Emisor", new { IdEmisor = emisor.IdEmisor,})" onclick="return confirm('Estas seguro de que quieres eliminar este registro');"> <i class="fa-solid fa-trash fa-beat" style="color: black;"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning" role="alert">
        No existen registros en la tabla :(
    </div>
}